html {
	scrollbar-gutter: stable;

	width: 100%;
	height: 100%;
	margin: 0;
}


body {
	width: 100%;
	min-height: 100%;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #ffffff;
	background-color: black;
}

/* Typography */

p {
	font-family: 'Roboto Mono', monospace, 'Courier New';
}

h2, a {
	font-family: 'Space Mono', monospace, 'Courier New';
}

h2 {
	font-size: 2rem;
	margin: 1.5rem 0;
}

p, a {
	font-size: 1.375rem;
}

@media (max-width: 777px) {
	h2 {
		font-size: 1.5rem;
	}

	p, a {
		font-size: 1rem;
	}
}