html {
	scrollbar-gutter: stable;

	width: 100%;
	height: 100%;
	margin: 0;
}


body {
	width: 100%;
	min-height: 100%;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #ffffff;
	background-color: black;
}

::selection {
	color: #000000;
	background-color: #ffc247;
}

/* Typography */

p {
	font-family: 'Inter Tight', Arial, sans-serif;
	letter-spacing: 0.01em;
}

h2, a {
	font-family: 'Space Mono', 'Space Mono Fallback', monospace, 'Courier New';
}

.main a {
	font-family: inherit;
	font-size: inherit;
}

h2 {
	font-size: 2rem;
	margin: 1.5rem 0;
}

.main, p, a {
	font-size: 1.125rem;
}

@media (min-width: 1050px) {
	.main, p {
		font-size: 1.267rem;
	}
}

@media (max-width: 777px) {
	h2 {
		font-size: 1.5rem;
	}

	a {
		font-size: .75rem;
	}
}
