body {
	width: 100%;
	height: 100%;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	color: #ffffff;
}

h2 {
	font-size: 2rem;
	margin: 1.5rem 0;
}

p, a {
	font-size: 1.375rem;
}