:root {
	--width-breakpoint: 1050px;
}

.bg {
	width: 100% !important;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	min-height: 100vh;

	text-align: center;
	width: min(777px, 100%);

	box-sizing: border-box;
	padding: 0 1.125rem 2rem;
}

@media (min-width: var(--width-breakpoint)) {
	.main {
		border-right: 1px solid #ffffff;
		border-left: 1px solid #ffffff;
		padding: 0 3rem 3rem;
	}
}

.menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

img {
	width: 100%;
}

a {
	color: #ffaf00;
}