.thought-container
{
    text-align: left;
}

.thought-heading
{
    font-family: 'Abril Fatface', serif !important;

    letter-spacing: 5px;

    font-size: 3.75rem;
    line-height: 3.75rem;
    line-break: anywhere;

    margin-top: 6px;
}

@media (min-width: 1050px)
{
    .thought-heading
    {
        font-size: 5rem;
        line-height: 5rem;
    }
}